<div class="panel panel-default preprint-citation">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                {{!apa}}
                <div>
                    <p>apa</p>
                    <p>{{apa}}</p>
                </div>
                {{!mla}}
                <div>{{mla}}</div>
                {{!chicago}}
                <div>{{chicago}}</div>
            </div>
        </div>
    </div>
</div>